body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/background.jpg');
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    padding: 20px 0;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
.menu {
    margin-right: auto;
    margin-left: 40px;
}
.menu a {
    color: #ffffff;
    font-size: 14px;
    margin-right: 20px;
}
.btn-green {
    background-color: #5a8a3c;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px
}
.hero {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}
.hero h1 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 10px;
    text-shadow: 
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #7EEB48,
        0 0 30px #8a2be2,
        0 0 50px #8a2be2;
}
.hero p {
    font-size: 18px;
    color: #b0b0b0;
}
.features-grid {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.feature-card {
    flex:1;
    padding: 30px 15px 40px 15px;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    color: black;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    background-color: #eacac9;
}
.pink{
    background-color: #eacac9;
    color: black;
}
.grey{
    background-color: #dcdcdc;
    color: black;
}
.reasons-grid{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.reason-card{
    flex:1;
    padding: 30px 15px 40px 15px;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    color: black;
    border-radius: 30px;
}
.reason h2 {
    color: #dcdcdc;
    text-align: center;
}

.garantiyas-grid{
    display: contents;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
}
.garantiya-card {
    margin: 0;
    padding: 15px 0;  
    font-size: medium;
}

.garantiya-card p {
    margin: 0;
    padding: 5px 0;
}
.howtouse h2{
    color: #ffffff;
    margin: 15px;
    font-size: 25px;
}
.garantiya {
    color: #ffffff;
}
.howtouse-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}
.howtouse-card{
    flex: 1;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.butreg{
    display: flex;
    color: black;
    justify-content: center;
}
.modal{
    background-color: #eacac9;
    border-radius: 20px;
    padding: 30px;
}
.modal-card{
    text-align: center;
}
.modal-card a{
    display: inline-block;
    text-decoration: none;
    background-color: #7EEB48;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 
        0 0 10px rgba(126, 235, 72, 0.5),
        0 0 20px rgba(126,235, 72, 0.3),
        0 0 40px rgba(126,235,72,0.2);
}

.footer{
    background-color: #070052;
    color: #ffffff;
    text-align: center;
}
.footer-menu{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 25px;
}
.footer-menu a {
    color: #ffffff;
}
.footer-leg {
    display: flex;
    justify-content: center;
    gap: 60px;
}
.footer-leg a {
    color: #ffffff;
}
.footer-down {
    text-align: center;
}

.footer-down h5 {
    color: #b0b0b0;
    margin: 10px;
}